channels:
  - i4ds
  - i4ds/label/dev
  - nvidia/label/cuda-11.7.1
  - conda-forge
dependencies:
# Set dependencies and it's constraints in the package they belong. Otherwise you just cause chaos for future builds.
# Just Karabo's direct dependencies and Karabo constraints (from our code) should be handled here.
# Dependencies with unstable APIs (this usually includes Karabo-Feedstock) should be fixed.
# Don't fix anything regarding build-string (except mpi) here. There's a lot you could do wrong.
# 
# IMPORTANT: If you add or remove dependencies, make sure to adjust conda/meta.yaml as well.
  - python                  =3.10*
  - aratmospy               =1.0.dev0
  - astropy
  - bdsf                    =1.10.dev2
  - bluebild                =0.1.0
  - cuda-cudart
  - dask                    =2022.12.1
  - dask-mpi
  - distributed
  - eidos                   =1.1.0
  - healpy
  - h5py                    =*=mpi_mpich*
  - ipython
  - katbeam                 =0.1.dev0
  - libcufft
  - matplotlib
  - montagepy               =6.0.dev0
  - mpi4py
  - mpich
  - nbformat
  - nbconvert
  - numpy                   >=1.21, !=1.24.0, <2.0  # upper-bounded because see issue #584
  - oskarpy                 =2.8.3
  - pandas
  - psutil
  - rascil                  =1.0.dev0
  - reproject               >=0.9,<=10.0 # check here the python version compatibility
  - requests
  - rfc3986                 >=2.0.0
  - scipy                   >=1.10.1, <1.14.0  # pin due to deprecated `integrate.trapz`; `trapz` removed in >=1.14
  - ska-gridder-nifty-cuda  =0.3.dev0
  - ska-sdp-datamodels      =0.1.dev3
  - ska-sdp-func-python     =0.1.dev4
  - tools21cm               =2.0.dev2
  - wsclean
  - xarray                  >=2022.11
  # transversal dependencies which we need to reference to get mpi-wheels
  # casacore hast just no-mpi & open-mpi, but no mpich-wheel
  - conda-forge::fftw       =*=mpi_mpich*  # oskarpy(oskar(casacore)), tools21cm, bluebild(finufft) -> from conda-forge to ignore channel-prio & not take our legacy fftw-wheel
  # exclude buggy versions of other tools
  - setuptools              !=71.0.0, !=71.0.1, !=71.0.2  # buggy with `importlib_metadata
