channels:
  - i4ds
  - nvidia/label/cuda-11.7.0
  - conda-forge
dependencies:
  - python=3.9
  - aratmospy=1.0.0
  - astropy
  - bdsf
  - bluebild
  - cuda-cudart
  - dask=2022.12.1
  - distributed
  - eidos=1.1.0
  - healpy
  - h5py
  - ipython
  - katbeam=0.1.0
  - libcufft
  - matplotlib
  - nbformat
  - nbconvert
  - numpy=1.22
  - oskarpy=2.8.3
  - pandas
  - pinocchio=5.0.0
  - psutil
  - rascil=1.0.0
  - reproject
  - requests
  - scipy=1.10.1
  - ska-gridder-nifty-cuda=0.3.0
  - ska-sdp-datamodels=0.1.3
  - ska-sdp-func-python=0.1.4
  - tools21cm=2.0.2
  - xarray
  - MontagePy=1.2.3
