# dev & test dependencies

# formatting tools
mypy==1.6.1
mypy-extensions==1.0.0
flake8==6.1.0
isort==5.12.0
black[jupyter]==23.10.0
pydocstyle==6.3.0
pytest==7.4.2
pytest-mpi==0.6
pytest-cov==4.1.0
pre-commit==3.5.0

# types for mypy
types-requests

# doc tools
myst-parser
sphinx
sphinx_rtd_theme

# other
podmena