name: Build User Image

on:
  workflow_run:
    workflows: ["Conda Build"]
    types:
      - completed

  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      # Aussumes that current repo-tag matches karabo:latest on anaconda.org
      - name: Get Previous tag
        uses: actions-ecosystem/action-get-latest-tag@v1
        id: get-latest-tag

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}
          tags: |
            type=raw, value=latest
            type=pep440, pattern={{version}}, value=${{ steps.get-latest-tag.outputs.tag }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        env:
          IS_GITHUB_RUNNER: true
        with:
          file: docker/Dockerfile.user
          context: .
          push: true
          build-args: KARABO_TAG=${{ steps.get-latest-tag.outputs.tag }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}