name: Conda Build

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      buildNumber:
        type: string
        required: true
        description: "build-nr: anaconda.org build-nr (DON'T trigger build if you don't know how to set it)"
      version:
        type: string
        required: true
        description: "version: PEP440 package-version (DON'T trigger build if you don't know what PEP440 is)"
      buildDocker:
        type: boolean
        required: false
        default: false
        description: "build docker-img if conda-build & tests succeeded?"
      latestDocker:
        type: boolean
        required: false
        default: false
        description: "tag docker-img as latest (if `buildDocker` is enabled)"
  workflow_call:
    inputs:
      buildNumber:
        type: string
        required: true
      version:
        type: string
        required: true
      buildDocker:
        type: boolean
        required: false
        default: false
      latestDocker:
        type: boolean
        required: false
        default: false


jobs:
  conda-build:
    runs-on: ubuntu-latest
    container: ghcr.io/i4ds/mambabuild-docker:latest
    outputs:
      karabo-version: ${{ steps.bcs.outputs.karabo_version }}
      build-docker: ${{ steps.bcs.outputs.build_docker == 'true' }}
      latest-docker: ${{ steps.bcs.outputs.latest_docker == 'true' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Get Previous tag
        uses: actions-ecosystem/action-get-latest-tag@v1
        id: get-latest-tag
      - name: Build Conda
        id: bcs
        shell: bash -l {0}
        run: |
          DEV_STR="dev"
          if [[ ${{ github.event_name }} == 'release' ]]
          then
            echo "Conda build from release"
            build="0"
            KARABO_TAG=${{ steps.get-latest-tag.outputs.tag }}
            if [[ ${KARABO_TAG:0:1} == "v" ]]; then
              KARABO_VERSION="${KARABO_TAG:1}"
            else
              echo "invalid karabo-tag: has no leading v"
              exit 1
            fi
            BUILD_DOCKER=true
            LATEST_DOCKER=true
          elif [[ ${{ github.event_name }} == 'workflow_dispatch' ]] || [[ ${{ github.event_name }} == 'workflow_call' ]]; then
            echo "Conda build from dispatch | call"
            build=${{ inputs.buildNumber }}
            BUILD_DOCKER=${{ inputs.buildDocker }}
            LATEST_DOCKER=${{ inputs.latestDocker }}
            KARABO_VERSION=${{ inputs.version }}
            conda install -c conda-forge python versioneer
            VERSIONEER_VERSION=$(python -c 'import versioneer; print(versioneer.get_version())')
            if [[ "$VERSIONEER_VERSION" == *"+"* ]]; then
              if [[ "$KARABO_VERSION" != *"$DEV_STR"* ]]; then
                echo "Dirty commit-version needs to be a PEP440 conform dev-version"
                exit 1
              fi
            else
              if [[ "$KARABO_VERSION" != "$VERSIONEER_VERSION" ]]; then
                echo "Provided version $KARABO_VERSION doesn't match the actual version $VERSIONEER_VERSION"
                exit 1
              fi
            fi
          else
            echo "Not specified github-event occured"
            exit 1
          fi
          if [[ "$KARABO_VERSION" == *"$DEV_STR"* ]]; then
            if [[ $LATEST_DOCKER == 'true' ]]; then
              echo "Dev build docker image can not be tagged as latest!"
              exit 1
            fi
            build="$(($build + 1000))"
          fi

          export KARABO_VERSION=$KARABO_VERSION build=$build
          echo "karabo_version=$KARABO_VERSION" >> $GITHUB_OUTPUT
          echo "build_docker=$BUILD_DOCKER" >> $GITHUB_OUTPUT
          echo "latest_docker=$LATEST_DOCKER" >> $GITHUB_OUTPUT

          conda config --append channels i4ds
          conda config --append channels nvidia/label/cuda-11.7.0
          conda config --append channels conda-forge

          cd conda
          conda mambabuild .
      - name: Publish to Conda
        shell: bash -l {0}
        run: |
          conda activate base
          anaconda -t ${{ secrets.ANACONDA_SECRET }} upload /opt/conda/conda-bld/linux-64/karabo-pipeline-*.tar.bz2 --force
  
  test-build:
    needs: conda-build
    uses: ./.github/workflows/test-user-package.yml
    with:
      version: ${{ needs.conda-build.outputs.karabo-version }}
      buildDocker: ${{ needs.conda-build.outputs.build-docker == 'true' }}
      latestDocker: ${{ needs.conda-build.outputs.latest-docker == 'true' }}
