name: Tests

on:
  workflow_dispatch:

jobs:
  Test_Source Detection:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          mamba-version: "*"
          channels: conda-forge
          channel-priority: "true"
          conda-remove-defaults: "true"
      - name: Install Deps
        shell: bash -el {0}
        run: |
          conda create -y -n test_karabo python=3.10
          conda activate test_karabo
          conda env update -f environment.yaml
          pip install -e ".[dev]"
          python -m ipykernel install --user --name python3.10
      - name: Run Code Quality Tools
        shell: bash -l {0}
        run: |
          conda activate test_karabo
      - name: Test Code in source_detection
        shell: bash -l {0}
        run: |
          conda activate test_karabo
          export IS_GITHUB_RUNNER=true RUN_GPU_TESTS=false RUN_NOTEBOOK_TESTS=true
          mpirun -n 2 pytest --only-mpi
