name: Tests

on:
  schedule: # Every night at 5am
    - cron: '0 5 * * *'
  pull_request:
  workflow_dispatch:

jobs:
  Test_Karabo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Install Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
      - name: Install Deps
        shell: bash -el {0}
        run: |
          conda create -y -n test_karabo python=3.9
          conda activate test_karabo
          mamba env update --file environment.yaml
          pip install -r requirements.txt
      - name: Test Dev-Tools
        shell: bash -l {0}
        run: |
          conda activate test_karabo
          flake8 .
          black --check .
          isort --check .
          mypy .
      - name: Test Code
        shell: bash -l {0}
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            export RUN_SLOW_TESTS=false
          elif [ "${{ github.event_name }}" = "schedule" ]; then
            echo "Starting scheduled full test!"
            export RUN_SLOW_TESTS=true
          elif [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            export RUN_SLOW_TESTS=false
          fi
          conda activate test_karabo
          export IS_GITHUB_RUNNER=true
          pip install . --no-deps
          pytest --cov .
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
